.heading {
  color: #fff;
  font-size: 70px;
  line-height: 75px;
  font-weight: 700;
  text-align: center;
  font-family: 'Gabriel sans 2', sans-serif;
}

.headingjumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  font-family: 'Gabriel sans 2', sans-serif;
  color: #9acfb3;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: none;
}

.list-item._1 {
  color: #cf44bd;
}

.list-item {
  font-family: 'Gabriel sans 2', sans-serif;
  color: #fff;
  font-size: 27px;
  line-height: 50px;
  font-weight: 400;
}

.pink {
  color: #cf44bd;
}

.green {
  color: #9acfb3;
}

.darkgreen {
  color: #569aa6;
}

.purple {
  color: #767be5;
}
